@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #fff0f5;
  /* Lavender Blush */
  font-family: 'Inter', sans-serif;
}

@layer utilities {
  .glass {
    @apply bg-white/30 backdrop-blur-md border border-white/20;
  }

  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
}